.realslide{
    position: relative;
    width: 100%;
    margin: auto;
    overflow: hidden;
}
.realslide img{
    width: 100%;
    display: none;
}
img.displayslide{
    display: block;
    animation-name: fade;
    animation-duration: 1.5s;
}
.realslide button{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 2rem;
    padding: 10px 15px;
    background-color: hsla(0, 0%, 0%, 0.565);
    color: white;
    border: none;
    cursor: pointer;
}
.prev{
    left: 0;
}
.next{
    right: 0;
}
@keyframes fade {
    from {opacity: .5}
    to {opacity: 1;}
}